@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        @*<div class="form-group">
            <label class="col-sm-3 control-label ">WarehouseId<font class="red"> *</font></label>
            <div class="col-sm-8">

            </div>
        </div>*@
        <input id="warehouseId" col="WarehouseId" type="hidden" />
        <div class="form-group">
            <label class="col-sm-3 control-label ">Title</label>
            <div class="col-sm-8">
                <input id="title" col="Title" type="text" class="form-control" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var warehouseId = ys.request("warehouseid");
    $(function () {
        getForm();
        //$('#form').validate({
        //    rules: {
        //        warehouseId: { required: true }
        //    }
        //});
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/StockManage/StockStorage/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            defaultData.WarehouseId = warehouseId;
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/StockManage/StockStorage/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

